
armygame/**


.env
.vscode
.clinerules

_notes/private
_notes/.obsidian
.cosmetics

luasteam.dll
steam_api64.dll

*.ase
*.aseprite

*.kra
*.kra~


*.pyc
jit/

incremental_game.zip
steamitemdef.json

.DS_Store

pyrightconfig.json
ex6.bat

__pycache__

_ex6/love2d-api

.EX6_CONTEXT_DUMP.txt

TEMP_NOTEPAD.md

